<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Macro_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Macro_UI.Properties.Settings>
            <setting name="AvalonLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="SyntaxStyleLight" serializeAs="String">
                <value>#202020;#57a64a;#ff22ff;#569cd6;#4ec9b0;#70b0e0;#404040;#569cd6;</value>
            </setting>
            <setting name="SyntaxStyleDark" serializeAs="String">
                <value>#dfdfdf;#57a64a;#ff22ff;#569cd6;#4ec9b0;#70b0e0;#bfbfbf;#569cd6;</value>
            </setting>
            <setting name="EditorShowLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="EditorFontFamily" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="EditorFontWeight" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConsoleTextWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActiveDocument" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenDocuments" serializeAs="String">
                <value />
            </setting>
            <setting name="ExecutionAsync" serializeAs="String">
                <value>True</value>
            </setting>
        </Macro_UI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.AvalonDock" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>